<div class="container-fluid row">
  <p>Dinosaurios carnivoros: {{carnivoros}}</p>
  <p>Dinosaurios herviboros: {{herviboros}}</p>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-6" *ngFor="let dino of dinosaurios">

      <div class="card p-2" (click)="onSelected(dino)">
              <img
                class="card-img-top"
                src="{{ dino.image }}"
              />
              <div class="card-body">
                <h5 class="card-title">{{ dino.name }}</h5>
                <p class="card-text">{{ dino.description}}</p>
              </div>
          </div>

      </div>

      <div class="col-6">
        <app-dinosaurio-detail *ngIf="seleccionado" [dinosaurio]="dinoSelect"></app-dinosaurio-detail>
      </div>

   </div>
</div>